*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

.mainDiv{
    max-width: 100%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    height: auto;
}

.topbar{
    width: 100%;
    height: auto;
    background-color: lightgreen;
    overflow: hidden;
    padding: 10px 20px;
}

.topbar .lefttopBar{
    width: 50%;
    float: left;
    display: flex;

}

.logoText{
    margin-left: 10px;
}

.topbar .lefttopBar img{
    height: 40px;
    width: 40px;
}

.topbar .righttopBar{
    width: 50%;
    float: right;
    text-align: right;
}

.topbar .righttopBar p{
    margin-top: 7px;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 1px #6ECCAF;
}

.navbar{
    width: 100%;
    height: auto;
    background-color: #6ECCAF;
    padding: 3px 10px;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    margin: 0 3px;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 5px 8px;
    
    border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    -ms-border-radius: 3.5px;
    -o-border-radius: 3.5px;
}

.navbar ul li a:hover{
    background-color: lightblue;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* hero area */

.heroArea{
    width: 100%;
    height: 500px;
}

.heroArea .slider{
    width: 100%;
    height: 100%;
}

.heroArea .slider .slideItem{
    background-image: url('../images/acm_desktopcta.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* hero area */

.mission{
    width: 100%;
    height: auto;
    margin: 70px 0;
}

.section-head{
    width: 100%;
    text-align: center;
}

.section-head h2{
    font-weight: bold;
    font-size: 40px;
}

.section-head h2::after{
    content: '';
    height: 2px;
    width: 300px;
    display: block;
    margin: 10px auto 40px auto;
    background-color: orange;
}

.section-content{
    margin-top: 40px;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    border: 0.5px solid lightblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -7px -7px 7px lightblue;
}

.section-content:hover{
    box-shadow: -2px -2px 7px lightblue;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

footer{
    background: linear-gradient(rgba(104, 185, 132, 0.8), rgba(104, 185, 132, 0.8)), url('../images/laptop_Kirill-Smyslov_getty.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 40px;

    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}